@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url(../src/assets/29421.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.aaa{
    margin-left: 530px;
    margin-top: 70px;
    width: 450px;
}

.zzz{
    /* z-index: -1; */
}
.ccc{
    margin-left: 340px;
    margin-top: 70px;
    width: 450px;
}